*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5; 
}

.product-container{
    position: relative;
    top:4rem;
}



.product-item{
    position: relative;
    top:4rem;
    left:10%;

    width: 80%;
    padding: 1rem;
    background-color: #fff;

}

hr{
    color: rgb(240, 240, 240);
    height: 0.3rem;
}

.description-product span{
    font-size: 1.5rem;
}

.description-product{
    position:relative;
    left: 13rem;
    bottom: 6rem;
}

.image-product{
    width: 9rem;
    margin: 0 2rem;
}

.product-item a{
    text-decoration: none;
    color: black;
}

.container-product-list{
    overflow-y: hidden;
    overflow-x: hidden;
}


@media (max-width: 900px) {
    .description-product{
        position:static;
    }

    hr{
        margin-top:2rem;
    }
}